.timer__wrapper {
  width: 256px;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  color: black;
}
