/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../assets/fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../../assets/fonts/roboto-v20-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../assets/fonts/roboto-v20-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
}
.map__wrapper {
  height: 100%;
}
.choose-your-favorite__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  padding-top: 60px;
  padding-bottom: 20px;
}
.choose-your-favorite__subtitle {
  width: 790px;
  height: 80px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 54px;
}
.gallery {
  display: flex;
  align-items: center;
  flex-flow: column;

  margin-bottom: 80px;
}
.map__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}
.gallery__arrow {
  cursor: pointer;
  margin-right: 20px;
}
.gallery__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.gallery__card {
  margin-right: 30px;
  cursor: pointer;
}
.gallery__card:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
.gallery__card-active {
  margin-right: 30px;
  cursor: pointer;
}
.gallery__image {
  width: 100%;
  height: auto;
}
.watch-online-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 116px;
}
.map__panda-icon {
  background: url(../../assets/images/map_red-pin.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1919px) {
  .choose-your-favorite__subtitle {
    padding-bottom: 35px;
  }
  .gallery {
    height: 231px;
    margin: 0 0px 50px;
    align-items: center;
    justify-content: center;
  }
  .map__gallery {
    margin-bottom: 25px;
    width: 800px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .gallery__arrow {
    cursor: pointer;
    margin-right: 0px;
  }
  .gallery__card:first-child {
    margin-right: 0px;
  }
  .gallery__card {
    margin: 0 15px;
  }
  .gallery__card-active {
    width: 157px;
    height: 157px;
    margin: 0 0px;
  }
  .gallery__cards {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
  }
  .gallery__card:nth-child(8) {
    display: none;
  }
  .gallery__card:nth-child(6) {
    display: none;
  }
  .gallery__card:nth-child(7) {
    display: none;
  }
  .map__world {
    padding-bottom: 35px;
    width: 800px;
    height: 388px;
    margin: 0 200px;
  }
  .watch-online-form {
    margin-bottom: 100px;
  }
  .map__wrapper {
    max-width: 1200px;
    height: auto;
  }
  .map__image {
    width: 800px;
    height: 388px;
  }
  .map__eagle-icon {
    transform: translate(70px, -346px);
  }
  .map__alligator-icon {
    transform: translate(151px, -434px);
  }
  .map__gorilla-icon {
    transform: translate(369px, -459px);
  }
  .map__panda-icon {
    transform: translate(581px, -636px);
  }
}

@media (max-width: 1199px) {
  .choose-your-favorite {
    margin: 0 20px;
  }
  .choose-your-favorite__title {
    width: 600px;
    height: 56px;
    font-size: 48px;
    line-height: 56px;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .choose-your-favorite__subtitle {
    width: 600px;
    height: 112px;
    padding-bottom: 35px;
  }
  .gallery {
    width: 600px;
    height: 231px;
    align-items: center;
    justify-content: center;
    margin: 0 20px 35px 20px;
  }
  .gallery__arrow {
    cursor: pointer;
    margin-right: 0px;
  }
  .map__gallery {
    flex-wrap: nowrap;
    margin-bottom: 25px;
    width: 600px;
  }
  .gallery__cards {
    flex-wrap: nowrap;
    width: 510px;
  }
  .gallery__card {
    margin: 0 7.5px;
  }
  .gallery__card:first-child {
    margin-left: 0;
  }
  .gallery__card:nth-child(5) {
    display: none;
  }
  .gallery__card:nth-child(8) {
    display: none;
  }
  .gallery__card:nth-child(6) {
    display: none;
  }
  .gallery__card:nth-child(7) {
    display: none;
  }
  .map__world {
    padding-bottom: 35px;
    width: 600px;
    height: 290px;
    margin: 0 20px;
  }
  .watch-online-form {
    margin-bottom: 80px;
  }
  .map__wrapper {
    max-width: 640px;
    height: auto;
  }
  .map__image {
    width: 600px;
    height: 290px;
  }
  .map__eagle-icon {
    transform: translate(52px, -289px);
  }
  .map__alligator-icon {
    transform: translate(103px, -380px);
  }
  .map__gorilla-icon {
    transform: translate(269px, -423px);
  }
  .map__panda-icon {
    transform: translate(429px, -581px);
  }
  .footer__logo {
    padding-top: 100px;
  }
  .footer__nav {
    padding-top: 0;
  }
  .footer__contacts {
    padding-top: 0;
  }
}

@media (max-width: 639px) {
  .choose-your-favorite {
    margin: 0 20px;
  }
  .choose-your-favorite__title {
    width: 280px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    padding-top: 35px;
    padding-bottom: 10px;
  }
  .choose-your-favorite__subtitle {
    width: 280px;
    height: 182px;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 40px;
  }
  .gallery {
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 310px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 35px;
  }
  .gallery__arrow {
    cursor: pointer;
    margin-right: 0px;
  }
  .paginator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin: 0 auto;
  }
  .paginator__line {
    width: 245px;
  }
  .map__gallery {
    width: 268px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .gallery__cards {
    flex-wrap: nowrap;
    justify-content: center;
    width: 280px;
  }
  .gallery__card {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
  .gallery__card-active {
    width: 85px;
    height: 85px;
  }
  .gallery__card:nth-child(4) {
    display: none;
  }
  .gallery__card:nth-child(5) {
    display: none;
  }
  .gallery__card:nth-child(8) {
    display: none;
  }
  .gallery__card:nth-child(6) {
    display: none;
  }
  .gallery__card:nth-child(7) {
    display: none;
  }
  .map__world {
    padding-bottom: 35px;
    width: 280px;
    height: 146px;
    margin: 0 20px;
  }
  .watch-online-form {
    margin-bottom: 60px;
  }
  .map__wrapper {
    max-width: 320px;
    height: auto;
  }
  .map__image {
    width: 280px;
    height: 146px;
  }
  .map__eagle-icon {
    transform: translate(24px, -150px);
  }
  .map__alligator-icon {
    transform: translate(46px, -187px);
  }
  .map__gorilla-icon {
    transform: translate(121px, -206px);
  }
  .map__panda-icon {
    transform: translate(188px, -282px);
    background: url(../../assets/images/red-min-pin.svg);
    background-repeat: no-repeat;
  }
  .map__eagle-icon:hover,
  .map__alligator-icon:hover,
  .map__gorilla-icon:hover,
  .map__panda-icon:hover {
    background: url(../../assets/images/red-min-pin.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 46px;
  }
  .footer__logo {
    padding-top: 50px;
  }
  .footer__nav {
    padding-top: 0;
  }
  .footer__contacts {
    padding-top: 0;
  }
}

.map-dark {
  background-color: #4F4F4F;
}
.choose-your-favorite__title-dark {
  color: #FEFEFE;
}
.choose-your-favorite__subtitle-dark {
  color: #F2F2F2;
}