.body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.main {
  display: flex;
}
.the-zoo__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}
.sidebar {
  margin: 60px 200px 10px 50px;
  position: sticky;
  top: 30px;
  height: 600px;
}
.zoo-gallery {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.zoo-gallery__arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.zoo-gallery__arrow:last-child {
  margin: 0;
}
.zoo-gallery__cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.zoo-gallery__card-active {
  cursor: auto;
}
.zoo-gallery__card {
  margin-bottom: 10px;
}

/* The zoo start */
.the-zoo {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: 100%;
}
.the-zoo__video {
  display: flex;
}
.the-zoo__video-translation {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
.the-zoo__video-stream {
  margin-bottom: 30px;
}
.the-zoo__discription {
  display: flex;
  flex-flow: column;
  margin-left: 30px;
}
.population__title,
.habitat__title,
.diet__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 6px;
}
.population__subtitle,
.habitat__subtitle,
.diet__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  margin-bottom: 13px;
}
.diet__subtitle {
  width: 380px;
  height: 64px;
  margin-bottom: 35px;
}
.feed__button {
  width: 194px;
  height: 55px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
}
.the-zoo__slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.the-zoo__slider-item {
  margin-right: 25px;
}
.the-zoo__slider-item:last-child {
  margin-right: 0;
}
.slider__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 100px 0;
  cursor: pointer;
}
