.garage {
  list-style: none;
  padding: 0;
}

.car-wrapper {
  margin-bottom: 10px;
}
.car-button {
  margin-bottom: 10px;
}
#car-image {
  width: 25%;
  height: 50%;
  transform: scale(-1,1);
}

#garage-view {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 50px;
  margin-left: 20px;
}