.garage-list {
  list-style: none;
  padding: 0;
}

.car-wrapper {
  margin-bottom: 10px;
}
.car-button {
  margin-bottom: 10px;
}
.car-image {
  width: 25%;
  height: 50%;
  transform: scale(-1,1);
}

#garage-view {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 50px;
  margin-left: 20px;
}

.finish-winners{
  position: absolute;
  top: 100px;
  left: 30vw;
  font-size: 50px;
  visibility: hidden;
  color: #000;
  z-index: 10;
}