.winners {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 20px;
}

.sort {
  font-size: large;
}

.winners-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.winners-table-header {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.winners-list {
  display: flex;
  flex-direction: column;
}
.row {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}