.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid>article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}

.card {
  width: 285px;
  height: 285px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transition: 250ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card:hover {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  /* position: absolute; */
  padding: 1rem;
  backface-visibility: hidden;
}
.back {
  position: relative;
}
.front {
  position: absolute;
}
.card .back {
  transform: rotateY(180deg);
}

.game-card {
  width: 285px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  text-align: -webkit-center;
}
.right-check {
  opacity: 0.2;
  pointer-events: none;
}
.game-card-img {
  width: 100%;
  pointer-events: none;
}

.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 40px;
  overflow-x: hidden;
  line-height: 36px;
  font-size: 36px;
  color: #fc6262;
}
.star-succes {
  background-image: url('../../assets/img/star-win.svg');
}

.star-error {
  background-image: url('../../assets/img/star.svg');
}

.star-error, .star-succes {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.invise {
  display: none;
}
