/* Media start */
@media (max-width: 1919px) {
  /* Header styles start */
  .header__wrapper {
    padding: 0 150px;
  }
  /* Header styles end */

  /* Intro styles start */
  .intro {
    min-height: 100vh;
    max-height: 926px;
    background: url(./assets/images/main-background.png) no-repeat center;
    background-size: cover;
  }
  .intro__title {
    padding-top: 128px;
    padding-left: 150px;
    padding-bottom: 37px;
  }
  .intro__watch-online-form {
    margin-left: 150px;
  }
  .main-gallery__wrapper {
    margin-bottom: 23px;
  }
  .main-gallery {
    top: 498px;
    right: 0px;
    width: 720px;
  }
  .main-gallery__item {
    width: 180px;
    height: auto;
    margin-right: 30px;
  }
  .main-gallery__active-item {
    width: 245px;
    height: 352px;
  }
  .main__paginator {
    left: 350px;
    width: 245px;
    height: 49px;
  }
  .social-net {
    display: flex;
    margin-top: 320px;
    margin-left: 150px;
  }
  .social-net__item {
    margin-bottom: 9px;
  }
  /* Intro styles end */

  /* How it work styles start */
  .how-it-works__subtitle {
    max-width: 746px;
    height: 96px;
    padding-bottom: 14px;
  }
  .how-it-works__slider-img {
    max-width: 746px;
    height: 323px;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  .how-it-works__slider {
    padding-bottom: 35px;
  }
  .card__item {
    max-width: 287px;
    height: 197px;
    margin-right: 20px;
  }
  .card__subtitle {
    max-width: 287px;
  }
  /* How it work styles end */
  /* Pets in zoo  start*/
  .pets__slider {
    margin: 0 100px;
  }
  .pets__card {
    width: 210px;
    height: 301px;
  }
  .pets__cards {
    margin-bottom: 25px;
  }
  .pets__card-img {
    width: 100%;
    height: auto;
  }
  .pets__paginator {
    padding-bottom: 5px;
  }
  /* Pets in zoo end*/
  /* Pay and feed start*/
  .pay-and-feed__cards {
    padding-top: 50px;
    padding-bottom: 45px;
    max-width: 900px;
    margin: 0 150px;
  }
  .pay-and-feed__arrow {
    width: 48px;
  }
  .pay-and-feed__card {
    margin-right: 17px;
  }
  /* Pay and feed end*/

  /* Testimonials  start*/
  .testimonials__wrapper {
    overflow: hidden;
  }
  .testimonials__cards {
    margin-bottom: 0px;
  }
  .testimonials__card {
    height: 340px;
    margin: 0;
  }
  .testimonials__card-item {
    height: 310px;
  }
  /* Testimonials  end*/

  /* Map  start*/
  .map__wrapper {
    max-width: 1200px;
    height: 842px;
  }
  .map__title {
    padding-top: 100px;
  }
  .map__world {
    padding-bottom: 35px;
    width: 900px;
    height: 436px;
    margin: 0 auto;
  }
  .map__image {
    width: 100%;
    height: 436px;
  }
  /* .map__eagle-icon,
  .map__alligator-icon,
  .map__gorilla-icon,
  .map__panda-icon {
    transform: translate(0px, 0px);
  } */
  .map__eagle-icon {
    transform: translate(85px, -383px);
  }
  .map__alligator-icon {
    transform: translate(174px, -472px);
  }
  .map__gorilla-icon {
    transform: translate(424px, -486px);
  }
  .map__panda-icon {
    transform: translate(657px, -671px);
  }
  /* Map  end*/

  /* Footer  start*/

  .footer__wrapper {
    max-width: 900px;
    height: 737px;
  }
  .footer__logo {
    padding-bottom: 20px;
    padding-top: 96px;
    margin-right: 400px;
  }
  .footer__navbar {
    padding-top: 0px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
  }

  .footer__nav {
    margin-left: 0;
    padding-top: 86px;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .footer__item {
    margin-right: 73px;
  }
  .footer__item:last-child {
    margin-right: 0px;
  }
  .footer__contacts {
    padding-top: 0px;
    flex-direction: row;
    padding-bottom: 25px;
  }
  .footer__form {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    width: 383px;
    padding-bottom: 77px;
  }
  .footer__form-title {
    margin-bottom: 30px;
  }
  .footer__form-name {
    margin-bottom: 15px;
    width: 383px;
  }
  .footer__form-email {
    margin-bottom: 25px;
    width: 383px;
  }
  .footer__form-message-fieldset {
    width: 383px;
    height: 124px;
    margin-bottom: 16px;
  }
  .footer__form-checkbox {
    margin-bottom: 23px;
  }
  .footer__form-button {
    margin-left: 254px;
  }
  .footer__contacts-info {
    padding-top: 5px;
    margin-left: 76px;
  }
  .footer__button {
    position: relative;
    bottom: 782px;
    right: -326px;
    display: none;
  }
  .footer__line {
    width: 900px;
    margin: -37px 0px 28px 0px;
  }
}

@media (max-width: 1199px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 100000;
  }
  /* Header styles start */
  .switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
    margin: 0;
    left: 115px;
  }
  .header__list {
    display: none;
  }
  .header__toggle {
    display: block;
    width: 40px;
    height: 21px;
    cursor: pointer;
    background: none;
    border: none;
    background-image: url(./assets/images/burger-menu.svg);
  }
  /* Header styles end */

  /* Intro styles start */
  .intro {
    min-height: 100vh;
    max-height: 934px;
    background: url(./assets/images/main-background.png) no-repeat center;
    background-size: cover;
  }
  .intro__title {
    padding-top: 122px;
    padding-left: 21px;
    padding-bottom: 30px;
    width: 599px;
    height: 150px;
    font-size: 64px;
    line-height: 75px;
  }
  .intro__watch-online-form {
    margin-left: 22px;
  }
  .main-gallery {
    top: 474px;
    right: 0px;
    width: 640px;
  }
  .main-gallery__wrapper {
    overflow: hidden;
    margin-bottom: 25px;
    background-position-y: 57%;
    background-position-x: -12%;
  }
  .main-gallery__slider {
    width: 640px;
  }
  .main__paginator {
    left: 338px;
    width: 245px;
    height: 49px;
  }
  .social-net {
    margin-top: 370px;
    margin-left: 20px;
  }
  .social-net__item {
    margin-bottom: 9px;
  }
  /* Intro styles end */

  /* How it work styles start */
  .how-it-works__title {
    max-width: 600px;
    height: 56px;
  }
  .how-it-works__subtitle {
    max-width: 600px;
    height: 112px;
    padding-bottom: 30px;
  }
  .how-it-works__slider-img {
    max-width: 600px;
    height: 323px;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  .how-it-works__form {
    padding-bottom: 68px;
  }
  .card__wrapper {
    height: 875px;
  }
  .card__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__item {
    width: 287px;
    height: auto;
    margin: 0 auto 50px;
  }
  .card__item:last-child {
    margin: 0 auto 100px;
  }
  .card__subtitle {
    width: 287px;
  }
  /* How it work styles end */
  /* Pets in zoo  start*/
  .pets__slider {
    margin: 0 20px;
    overflow: hidden;
  }
  .pets__cards {
    flex-wrap: nowrap;
    margin-bottom: 35px;
    overflow: hidden;
  }
  .pets__arrow {
    display: none;
  }
  .pets__card {
    width: 210px;
    height: 301px;
    margin-right: 20px;
    overflow: hidden;
  }
  .pets__card-img {
    width: 100%;
    height: auto;
  }
  .pets-favorite__form {
    padding-bottom: 100px;
  }
  .pets__paginator {
    padding-bottom: 10px;
  }
  /* Pets in zoo end*/
  /* Pay and feed start*/
  .pay-and-feed__title {
    padding-top: 100px;
    padding-bottom: 15px;
    margin: 0 20px;
  }
  .pay-and-feed__subtitle {
    width: 538px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    margin: 0 50px;
  }
  .pay-and-feed__cards {
    padding-top: 50px;
    padding-bottom: 0px;
    margin: 0 auto;
    flex-direction: column;
  }
  .pay-and-feed__arrow {
    display: block;
    transform: rotate(90deg);
  }
  .pay-and-feed__card {
    margin-right: 0px;
    margin-bottom: 45px;
  }
  /* Pay and feed end*/

  /* Testimonials  start*/
  .testimonials__wrapper {
    height: 795px;
  }
  .testimonials__title {
    padding: 120px 0 35px 0;
  }
  .testimonials__slider {
    margin: 10px 30px 20px;
  }
  .testimonials__arrow {
    display: none;
  }
  .testimonials__cards {
    margin-bottom: 48px;
    flex-wrap: nowrap;
  }
  .testimonials__card {
    margin-left: 0;
    margin-right: 0;
  }
  .testimonials__card:nth-child(2) {
    margin-left: 0;
  }
  .testimonials__card:nth-child(3) {
    display: none;
  }
  .testimonials__form {
    margin-bottom: 100px;
  }
  /* Testimonials  end*/

  /* Map  start*/
  .map__wrapper {
    max-width: 640px;
    height: 666px;
  }
  .map__title {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .map__world {
    padding-bottom: 35px;
    width: 600px;
    height: 290px;
    margin: 0 auto;
  }
  .map__image {
    width: 100%;
    height: auto;
  }
  .map__eagle-icon {
    transform: translate(56px, -242px);
  }
  .map__alligator-icon {
    transform: translate(102px, -334px);
  }
  .map__gorilla-icon {
    transform: translate(269px, -384px);
  }
  .map__panda-icon {
    transform: translate(427px, -538px);
  }
  /* Map  end*/

  /* Footer  start*/

  .footer__wrapper {
    max-width: 600px;
    height: 1068px;
  }
  .footer__logo {
    padding-bottom: 20px;
  }
  .footer__navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__nav {
    margin-left: 0;
    padding-top: 0px;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .footer__item {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .footer__contacts {
    padding-top: 0px;
    width: 383px;
    flex-direction: column;
    padding-bottom: 25px;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    width: 383px;
    padding-bottom: 77px;
  }
  .footer__form-title {
    margin-bottom: 30px;
  }
  .footer__form-name {
    margin-bottom: 15px;
    width: 383px;
  }
  .footer__form-email {
    margin-bottom: 25px;
    width: 383px;
  }
  .footer__form-message-fieldset {
    width: 383px;
    height: 124px;
    margin-bottom: 16px;
  }
  .footer__form-checkbox {
    margin-bottom: 23px;
  }
  .footer__form-button {
    margin-left: 254px;
  }
  .footer__contacts-info {
    margin-left: 0;
  }
  .footer__button {
    position: relative;
    bottom: 782px;
    right: -326px;
    display: none;
  }
  .footer__line {
    width: 599px;
    margin: 22px 0px 28px 0px;
  }
}

@media (max-width: 639px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 100000;
  }
  /* Header styles start */
  .header__wrapper {
    padding-right: 10px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
    margin: 0;
    left: 0px;
  }
  .header__list {
    display: none;
  }
  .header__toggle {
    display: block;
    width: 40px;
    height: 21px;
    cursor: pointer;
    background: none;
    border: none;
    background-image: url(./assets/images/burger-menu.svg);
  }
  /* Header styles end */

  /* Intro styles start */
  .intro {
    min-height: 100vh;
    height: 669px;
    background: url(./assets/images/main-background.png) no-repeat center;
    background-size: cover;
  }
  .intro__title {
    padding-top: 92px;
    padding-left: 10px;
    padding-bottom: 15px;
    width: 300px;
    height: 168px;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
  }
  .intro__watch-online-form {
    margin-left: 10px;
  }
  .main-gallery {
    top: 258px;
    right: 0px;
    width: 320px;
  }
  .main-gallery__slider {
    width: 320px;
  }
  .main-gallery__list {
    right: 0px;
    top: 15px;
    margin: 0;
    padding: 0;
  }
  .main-gallery__item {
    width: 113px;
    margin-right: 10px;
  }
  .main-gallery__active-item {
    width: 245px;
    height: auto;
  }
  .main-gallery__img {
    width: 100%;
    height: auto;
  }
  .main__paginator {
    left: 54px;
    width: 140px;
  }
  .social-net {
    display: none;
  }
  .social-net__item {
    margin-bottom: 9px;
  }
  /* Intro styles end */

  /* How it work styles start */
  .how-it-works__title {
    max-width: 300px;
    height: 42px;
    font-size: 36px;
    line-height: 42px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .how-it-works__subtitle {
    max-width: 300px;
    height: 224px;
    padding-bottom: 30px;
  }
  .how-it-works__slider {
    padding-bottom: 20px;
  }
  .how-it-works__slider-img {
    max-width: 300px;
    height: 323px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .how-it-works__form {
    padding-bottom: 50px;
  }
  .card__wrapper {
    height: 719px;
  }
  .card__items {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .card__item {
    width: 299px;
    height: auto;
    margin: 0 10px 30px;
  }
  .card__subtitle {
    width: 300px;
  }
  /* How it work styles end */
  /* Pets in zoo  start*/
  .pets-in-zoo__title {
    height: 42px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 10px;
  }
  .pets__slider {
    margin: 0 10px;
    overflow: hidden;
  }
  .pets__cards {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .pets__arrow {
    display: none;
  }
  .pets__card {
    width: 210px;
    height: 301px;
    margin-right: 16px;
  }
  .pets__card-img {
    width: 100%;
    height: auto;
  }
  .pets__paginator {
    padding-bottom: 10px;
  }
  .pets-favorite__form {
    padding-bottom: 50px;
  }
  /* Pets in zoo end*/
  /* Pay and feed start*/
  .pay-and-feed__title {
    width: 300px;
    height: 42px;
    font-size: 36px;
    line-height: 42px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 10px;
  }
  .pay-and-feed__subtitle {
    display: none;
  }
  .pay-and-feed__cards {
    padding-top: 0px;
    padding-bottom: 36px;
    margin: 0 10px;
    flex-direction: column;
  }
  .pay-and-feed__card {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .pay-and-feed__arrow {
    display: block;
    transform: rotate(90deg);
  }
  .pay-and-feed__form {
    padding-bottom: 50px;
  }
  /* Pay and feed end*/

  /* Testimonials  start*/
  .testimonials__wrapper {
    height: 705px;
    overflow: hidden;
  }
  .testimonials__title {
    padding: 50px 0 25px 0;
    width: 300px;
    height: 42px;
    font-size: 36px;
    line-height: 42px;
    margin: 0 10px;
  }
  .testimonials__slider {
    margin: 10px 10px 20px;
  }
  .testimonials__arrow {
    display: none;
  }
  .testimonials__cards {
    margin-bottom: 40px;
    flex-wrap: nowrap;
  }
  .testimonials__card:nth-child(3) {
    display: none;
  }
  .testimonials__card {
    height: 363px;
  }
  .testimonials__form {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  /* Testimonials  end*/

  /* Map  start*/
  .map__wrapper {
    width: 320px;
    height: 413px;
  }
  .map__title {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 36px;
    line-height: 42px;
    width: 300px;
    height: 42px;
    margin: 0 10px;
  }
  .map__world {
    padding-bottom: 30px;
    width: 300px;
    height: 146px;
    margin: 0 10px;
  }
  .map__image {
    width: 100%;
    height: auto;
  }
  .map__eagle-icon {
    transform: translate(22px, -139px);
  }
  .map__alligator-icon {
    transform: translate(53px, -176px);
  }
  .map__gorilla-icon {
    transform: translate(135px, -198px);
  }
  .map__panda-icon {
    transform: translate(217px, -267px);
  }
  .map__eagle-icon,
  .map__alligator-icon,
  .map__gorilla-icon,
  .map__panda-icon {
    width: 32px;
    height: 46px;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    margin: 0;
    background: url(./assets/images/pin-min.svg);
    background-repeat: no-repeat;
    z-index: 1;
  }
  .map__pin-img {
    width: 22px;
    height: 22px;
  }
  .map__eagle-img,
  .map__alligator-img,
  .map__gorilla-img,
  .map__panda-img {
    position: relative;
    top: 5px;
    left: 6px;
    z-index: 1;
  }
  .map__form {
    padding-bottom: 60px;
  }
  /* Map  end*/

  /* Footer  start*/

  .footer__wrapper {
    width: 300px;
    height: 1100px;
    padding: 0 10px;
  }
  .footer__logo {
    padding-bottom: 30px;
    padding-top: 0;
  }
  .footer__nav {
    padding-top: 0;
  }
  .footer__contacts {
    padding-top: 0;
  }
  .footer__navbar {
    padding-top: 44px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__nav {
    margin-left: 0;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .footer__item {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .footer__contacts {
    padding-top: 0px;
    width: 300px;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 25px;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 54px;
  }
  .footer__form-title {
    margin-bottom: 30px;
  }
  .footer__form-name {
    margin-bottom: 15px;
  }
  .footer__form-email {
    margin-bottom: 25px;
  }
  .footer__form-message-fieldset {
    width: 300px;
    height: 124px;
    margin-bottom: 16px;
  }
  .footer__form-checkbox {
    margin-bottom: 23px;
  }
  .footer__form-button {
    margin-left: 185px;
  }
  .footer__contacts-info {
    margin-left: 0;
  }
  .footer__button {
    position: relative;
    right: -13px;
  }
  .footer__line {
    width: 300px;
    margin: 80px 0px 28px 0px;
  }
}

/* Media end */
