/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("./assets/fonts/roboto-v20-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-v20-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@import url(./media-style.css);
.body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.btn {
  cursor: pointer;
  border: none;
}
.wrapper {
  max-width: 1920px;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

/* Header styles start */
.header__wrapper {
  height: 94px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 150px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__item {
  margin-right: 83px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  text-decoration: none;
}
.header__link-active {
  border-bottom: 1px solid #333333;
  cursor: context-menu;
}
.header__toggle {
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 32px 0px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* Header styles end */

/* Intro styles start */
.main__title {
  position: absolute;
  top: -10000px;
  z-index: -10;
}
.intro {
  min-height: 100vh;
  height: 940px;
  background: url(./assets/images/main-background.png) no-repeat center;
  background-size: cover;
}
.intro__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: #fefefe;
  padding-top: 206px;
  padding-left: 360px;
  padding-bottom: 37px;
  margin: 0;

  width: 793px;
  height: 208px;
}
.intro__watch-online-form {
  display: flex;
  margin-left: 360px;
  align-items: center;
}
.watch-online-form__submit {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  width: 245px;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-gallery {
  position: absolute;
  top: 473px;
  right: 0;
  width: 1080px;
}
.main-gallery__wrapper {
  overflow: hidden;
  margin-bottom: 15px;
  background-image: url(./assets/images/line.svg);
  background-repeat: no-repeat;
  background-position-y: 57%;
}
.main-gallery__slider {
  height: 380px;
  display: flex;
  align-items: center;
}
.main-gallery__list {
  display: flex;
  align-items: center;
  list-style: none;

  position: relative;
  right: -135px;
  top: 15px;
  margin: 0;
  padding: 0;
}
.main-gallery__item {
  width: 140px;
  margin-right: 45px;
  position: relative;
}
.main-gallery__item:last-child {
  margin-right: 0;
}
.main-gallery__active-item {
  width: 245px;
  height: 352px;
}
.main-gallery__img {
  display: block;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
}
.main__paginator {
  position: relative;
  left: -97px;
}
.paginator__count-light {
  width: 53px;
  height: 28px;

  font-family: Roboto;
  font-style: normal;
  color: #fefefe;
  margin-bottom: 15px;
}
.paginator__number {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}
.paginator__number-dark {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}
.paginator__total-number {
  color: #828282;
  font-weight: 900;
}
.social-net {
  display: flex;
  margin-top: 216px;
  margin-left: 152px;
}
.social-net__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-net__item {
  margin-bottom: 15px;
}
.social-net__item:last-child {
  margin-bottom: 0;
}
/* Intro styles end */

/* How it work styles start */

.how-it-works__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.how-it-works__title-wrapper {
  max-width: 790px;
}
.how-it-works__title {
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0;
}
.how-it-works__subtitle {
  margin: 0;
  padding-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}
.how-it-works__slider {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.how-it-works__slider-img {
  max-width: 790px;
  height: 323px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.paginator__count-dark {
  width: 53px;
  height: 28px;
  font-family: Roboto;
  font-style: normal;
  color: #333333;
  margin-bottom: 15px;
}
.how-it-works__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.card__wrapper {
  background: #f2f2f2;
  height: 413px;
}
.card__items {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.card__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 30px;
}
.card__item:last-child {
  margin-right: 0;
}
.card__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  margin: 15px 0;
}
.card__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  width: 380px;
  margin: 0;
}
/* How it work styles end */

/* Pets in zoo  start*/
.pets-in-zoo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.pets-in-zoo__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;

  padding-top: 100px;
  padding-bottom: 35px;
  margin: 0;
}
.pets__slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin: 0 310px;
}
.pets__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.pets__arrow,
.testimonials__arrow {
  display: flex;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: 0;
}
.pets__paginator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pets__arrow {
  margin-right: 20px;
}
.pets__arrow:last-child {
  margin-right: 0px;
}
.pets__card {
  position: relative;
  cursor: pointer;
  width: 278px;
  height: 399px;
  margin-right: 20px;
}
.pets__card:hover > .pets__info {
  opacity: 1;
  transform: translateY(calc(-20px));
  transition: 1s;
}
.pets__card:hover::before {
  opacity: 1;
}
.pets__card::before {
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    352.9deg,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(28, 163, 50, 0.5)
  );
  transition: opacity 0.5s ease-in-out;
}
.pets__card:last-child {
  margin-right: 0;
}
.pets__card-img {
  border-radius: 5px;
}
.pets__info {
  position: absolute;
  width: 197px;
  bottom: 42px;
  left: 23px;
  opacity: 0;
  transition: 0.5s;
}
.pets__info:hover,
.pets__info-hover {
  opacity: 1;
  transition: 0.5s;
}
.pets__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
.pets__buttons {
  display: flex;
}
.pets__buttons-watch {
  margin-right: 10px;
}
.pets-favorite__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.pets-favorite__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
}
/* Pets in zoo end*/

/* Pay and feed start*/
.pay-and-feed__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pay-and-feed {
  background: #f2f2f2;
}
.pay-and-feed__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0;
}
.pay-and-feed__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #4f4f4f;
  margin: 0;
}
.pay-and-feed__cards {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 92px;
  padding-bottom: 60px;
  max-width: 1200px;
  margin: 0 auto;
}
.pay-and-feed__card {
  margin-right: 63px;
}
.pay-and-feed__card:last-child {
  margin-right: 0;
}
.pay-and-feed__form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.pay-and-feed__button {
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/* Pay and feed end*/

/* Testimonials  start*/
.testimonials {
  background: #fff;
}
.testimonials__wrapper {
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonials__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 100px 0 50px 0;
}
.testimonials__slider {
  width: 100%;
}
.testimonials__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.testimonials__card {
  height: 310px;
  padding: 11px 17px 19px 13px;
  margin: 0;
}
.testimonials__card-item {
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fefefe;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
}
.testimonials__card-userimg {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}
.testimonials__card-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 17px;
}
.testimonials__card-description {
  width: 440px;
  height: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #4f4f4f;
  margin: 0;
}
.testimonials__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
}
.testimonials__button {
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
/* Testimonials  end*/

/* Map  start*/
.map {
  background: #f2f2f2;
}
.map__wrapper {
  max-width: 1920px;
  height: 904px;
  margin: 0 auto;
}
.map__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;

  margin: 0;
  padding-top: 100px;
  padding-bottom: 60px;
}
.map__world {
  padding-bottom: 35px;
  width: 1200px;
  height: 497px;
  margin: 0 auto;
}
.map__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.map__icon-link {
  text-decoration: none;
}
.map__tooltip-card {
  position: relative;
  bottom: -50px;
  left: -375px;
  visibility: hidden;
  width: 436px;
  height: 149px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #fefefe;
  border-radius: 8px;
  z-index: 100;
}
.map__tooltip:hover .map__tooltip-card {
  visibility: visible;
  z-index: 1;
}
.map__tooltip-text {
  display: flex;
  flex-flow: column;
  text-decoration: none;
}
.map__tooltip-title,
.map__tooltip-subtitle {
  font-family: Roboto;
  font-style: normal;
  color: #333333;
  text-decoration: none;
}
.map__tooltip-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}
.map__tooltip-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}
.map__tooltip-subtitle span {
  color: #333333;
  font-size: 14px;
  line-height: 16px;
  font-weight: bolder;
}
.map__eagle-icon,
.map__alligator-icon,
.map__gorilla-icon,
.map__panda-icon {
  width: 70px;
  height: 100px;
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  margin: 0;
  background: url(./assets/images/map_pin.svg);
  background-repeat: no-repeat;
  z-index: 1;
}
.map__eagle-icon:hover,
.map__alligator-icon:hover,
.map__gorilla-icon:hover,
.map__panda-icon:hover {
  background: url(./assets/images/map_red-pin.svg);
  background-repeat: no-repeat;
}
.map__eagle-img,
.map__alligator-img,
.map__gorilla-img,
.map__panda-img {
  position: relative;
  top: 10px;
  left: 12px;
  z-index: 1;
}

.map__eagle-icon {
  transform: translate(105px, -438px);
}
.map__alligator-icon {
  transform: translate(229px, -510px);
}
.map__gorilla-icon {
  transform: translate(556px, -524px);
}
.map__panda-icon {
  transform: translate(877px, -721px);
}
/* Map  end*/

/* Footer  start*/
.footer {
  background: #333333;
}
.footer__wrapper {
  max-width: 1620px;
  height: 751px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin: 0 auto;
}
.footer__navbar {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 57px;
}
.footer__logo {
  width: 59px;
  height: 54px;
}
.footer__nav {
  margin-left: 700px;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__item {
  margin-right: 73px;
}
.footer__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fefefe;
  text-decoration: none;
}
.footer__button {
  width: 275px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__form {
  display: flex;
  flex-flow: column wrap;
}

.footer__form-name {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  background-color: transparent;
  color: inherit;
  outline: none;
  width: 383px;
  height: 26px;
  margin-bottom: 15px;
}
.footer__form-name::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #e0e0e0;
}
.footer__form-email {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  background-color: transparent;
  color: inherit;
  outline: none;
  width: 383px;
  height: 26px;
  margin-bottom: 15px;
}
.footer__form-email::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #e0e0e0;
}
.footer__form-message-fieldset {
  width: 383px;
  height: 115px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 3px;
  background: none;
  margin-bottom: 25px;
}
.footer__form-message {
  border: transparent;
  background: none;
  overflow: auto;
  resize: none;
}
.footer__form-message:focus {
  outline: none;
}
.footer__form-message-placeholder {
  background: #333333;
  left: 7px;
  bottom: 107px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #e0e0e0;
}
.footer__form-checkbox {
  width: 13px;
  height: 13px;
  background: transparent;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 1px;
  margin-bottom: 20px;
}
.footer__form-checkbox::before {
  content: attr(title);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  white-space: nowrap;
  padding-left: 20px;
}
.footer__form-button {
  width: 108px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
  background: none;
  border: none;
  margin-left: 256px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer__form-button-span {
  margin-right: 24px;
}
.footer__form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
  margin: 0;
  margin-bottom: 30px;
}
.footer__contacts {
  display: flex;
}
.footer__contacts-info {
  margin-left: 413px;
  display: flex;
  flex-flow: column wrap;
}
.footer__contacts-info a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
  text-decoration: none;
}
.footer__online-centre {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
  margin: 0;
  margin-bottom: 35px;
}
.footer__address,
.footer__open,
.footer__tel,
.footer__email {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
  margin-bottom: 5px;
}
.footer__tel-link,
.footer_email-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
}
.footer__open {
  margin-bottom: 20px;
}
.footer__social-net-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.footer__social-net-item {
  margin-right: 15px;
}
.footer__social-net-item:last-child {
  margin: 0;
}
.footer__line {
  margin-top: 60px;
  margin-bottom: 28px;
  max-width: 1620px;
  border: 0.5px solid #fefefe;
  overflow: hidden;
}
.footer__copyright {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}
.footer__copyright {
  margin-bottom: 5px;
}
/* Footer  end*/
.zoo-gallery__cards {
  cursor: pointer;
}

/* Paginator start */
.paginator__line-light::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 10px;
  cursor: pointer;
  background: #ffffff;
  margin-top: -2.5px;
}
.paginator__line-dark::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 10px;
  cursor: pointer;
  background: #333333;
  margin-top: -2.5px;
}

.paginator__line {
  -webkit-appearance: none;
  background: transparent;
  width: 245px;
}

.paginator__line::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.paginator__line:focus {
  outline: none;
}

.paginator__line::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.paginator__line::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background-color: rgba(189, 189, 189, 0.57);
}
/* Paginator end */
