.body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.main {
  display: flex;
}
.the-zoo__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}
.sidebar {
  margin: 60px 200px 10px 50px;
  position: sticky;
  top: 30px;
  height: 100vh;
}
.zoo-gallery {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.zoo-gallery__arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.zoo-gallery__arrow:last-child {
  margin: 0;
}
.zoo-gallery__cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.zoo-gallery__card-active {
  cursor: auto;
}
.zoo-gallery__card {
  margin-bottom: 10px;
}

/* The zoo start */
.the-zoo {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
.the-zoo__video {
  display: flex;
}
.the-zoo__video-translation {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
.the-zoo__video-stream {
  margin-bottom: 30px;
}
.the-zoo__discription {
  display: flex;
  flex-flow: column;
  margin-left: 30px;
}
.population__title,
.habitat__title,
.diet__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 6px;
}
.population__subtitle,
.habitat__subtitle,
.diet__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  margin-bottom: 13px;
}
.diet__subtitle {
  width: 380px;
  height: 64px;
  margin-bottom: 35px;
}
.feed__button {
  width: 194px;
  height: 55px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
}
.the-zoo__slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.the-zoo__slider-item {
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}
.the-zoo__slider-item:last-child {
  margin-right: 0;
}
.slider__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 100px 0;
  cursor: pointer;
}
@media (max-width: 1919px) {
  .sidebar {
    margin: 60px 65px 10px 15px;
    position: sticky;
    top: 30px;
  }
  .zoo-gallery {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .zoo-gallery__cards {
    height: 438px;
  }
  .zoo-gallery__image {
    width: 100%;
    height: auto;
  }
  .zoo-gallery__card {
    width: 96px;
    height: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .zoo-gallery__card-active {
    width: 120px;
    height: 120px;
    margin-bottom: 0px;
  }
  .zoo-gallery__arrow:last-child {
    margin-top: 20px;
  }
  .the-zoo__video-stream {
    width: 527px;
    height: 297px;
    margin-bottom: 27px;
  }
  .the-zoo__slider-img {
    width: 164px;
    height: 94px;
  }
  .the-zoo__slider {
    flex-wrap: nowrap;
  }
  .the-zoo__slider-item {
    margin-right: 18px;
  }
  .the-zoo__discription {
    margin-left: 20px;
    width: 253px;
    height: 264px;
  }
  .population__subtitle,
  .habitat__subtitle,
  .diet__subtitle {
    margin-bottom: 16px;
  }

  .diet__subtitle {
    width: 253px;
    height: 96px;
    margin-bottom: 20px;
  }
  .slider__pagination {
    margin: 30px 0 96px 0;
  }
  .feed__button {
    width: 185px;
    height: 53px;
    border: none;
  }
}

@media (max-width: 1199px) {
  .main {
    height: 982px;
  }
  .sidebar {
    margin: 58px 28px 10px 6px;
    position: sticky;
    top: 30px;
  }
  .zoo-gallery {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .zoo-gallery__cards {
    height: 330px;
  }
  .zoo-gallery__card {
    width: 70px;
    height: 70px;
  }
  .zoo-gallery__card-active {
    width: 90px;
    height: 90px;
  }
  .the-zoo__title {
    width: 361px;
    height: 56px;
    margin-left: 13px;
    margin-bottom: 35px;
  }
  .the-zoo__video {
    display: flex;
    flex-direction: column;
  }
  .the-zoo__video-stream {
    width: 497px;
    height: 280px;
    margin-bottom: 15px;
  }
  .slider__pagination {
    margin: 30px 0 47px 0;
  }
  .the-zoo__slider-img {
    width: 155px;
    height: 89px;
  }
  .the-zoo__slider {
    flex-wrap: nowrap;
  }
  .the-zoo__slider-item {
    margin-right: 16px;
  }
  .the-zoo__discription {
    margin-left: 0px;
    width: 253px;
    height: 264px;
  }
  .population__subtitle,
  .habitat__subtitle,
  .diet__subtitle {
    margin-bottom: 13px;
  }
  .habitat__subtitle {
    width: 376px;
  }
  .diet__subtitle {
    width: 497px;
    height: 48px;
    margin-bottom: 30px;
  }
  .feed__button {
    width: 185px;
    height: 53px;
    border: none;
  }
  .feed__form {
    margin-bottom: 80px;
  }
}

@media (max-width: 639px) {
  .main {
    height: auto;
  }
  .feed__form {
    margin-bottom: 0px;
  }
  .sidebar {
    margin: 35px 25px 10px 5px;
    position: sticky;
    top: 30px;
  }
  .zoo-gallery {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .zoo-gallery__cards {
    height: 200px;
    gap: 5px;
  }
  .zoo-gallery__card {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
  .zoo-gallery__card-active {
    width: 65px;
    height: 65px;
    margin-bottom: 0px;
  }
  .zoo-gallery__arrow {
    margin-bottom: 0px;
  }
  .zoo-gallery__arrow:last-child {
    margin-top: 20px;
  }
  .the-zoo__title {
    width: 184px;
    height: 28px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    margin-top: 35px;
  }
  .the-zoo__video {
    display: flex;
    flex-direction: column;
  }
  .the-zoo__video-stream {
    width: 205px;
    height: 116px;
    margin-bottom: 10px;
  }
  .slider__pagination {
    margin: 20px 0 30px 0;
  }
  .the-zoo__slider-img {
    width: 98px;
    height: 56.26px;
  }
  .the-zoo__slider-item:last-child {
    display: none;
  }
  .the-zoo__slider {
    flex-wrap: nowrap;
  }
  .the-zoo__slider-item {
    margin-right: 9px;
  }
  .the-zoo__discription {
    margin-left: 0px;
    width: 205px;
    height: auto;
  }
  .population__title,
  .habitat__title,
  .diet__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .population__subtitle,
  .habitat__subtitle,
  .diet__subtitle {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }
  .habitat__subtitle {
    width: 205px;
    height: 28px;
  }
  .diet__subtitle {
    width: 205px;
    height: 84px;
    margin-bottom: 10px;
  }
  .feed__button {
    width: 185px;
    height: 53px;
    border: none;
    margin-bottom: 60px;
  }
}

.the-zoo__title-dark,
.population__title-dark,
.habitat__title-dark,
.diet__title-dark {
  color: #fefefe;
}
.population__subtitle-dark,
.habitat__subtitle-dark,
.diet__subtitle-dark {
  color: #f2f2f2;
}

.the-zoo__slider-defender {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.the-zoo__slider-item::before {
  content: "";
  display: block;
}

